@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');
.navbar {
  font-family: "Segoe UI",Arial,sans-serif;
  overflow: hidden;
  position: sticky;
  background-color: #098173;
}
.navbar a:hover {
  background-color: #555;
  color: white;
}

.navbar a {
  float: left;
  font-size: 20px;
  color:white ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


td:nth-child(1)
{
  width: 300px;
  border-right: 1px solid-red;

}
table thead tr th
{
  width: 1520px;
  font-size: 4.5em;
  letter-spacing: 5px;
  font-family: "Audiowide", sans-serif;
  /*text-shadow: 2px 4px 10px black;*/
}

.bottom p a
{
  font-family: courier new;
  font-size: 1.1em;
  padding: 30px;
}
.bd
{
    font-family:  Verdana,sans-serif;
  padding: 32px;
  color: black;
  font-size: 1.2em;
  background-color: rgba(179,179,255,0.10);
  background-size: 500px 500px
}
.bottom
{
    margin: 0px;
    background-color: rgba(133,98,191,1.00);
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.bottom p a
{
    font-size: 1.5em;
  color: purple;
  padding: 0px 100px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 3px;
	text-align: center;
	padding-bottom: 0px;
}
.bottom p a:hover
{
    color: black;
}
.bottom p
{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.Copyright p
{
    text-transform: uppercase;
    font-family: Quicksand;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 2px;
}
.Copyright
{
   color:rgba(7,72,1,1.00);
  font-size: 20px;
  text-align: center;
	font-weight: bold;
}
#i{
    width: 60%;
    height: auto;
    border-radius: 40px;
}
#p{
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: bold;
}
#h{
    text-transform: capitalize;
    font-size: 1.7em;
    font-weight: bold;
}