.navbar {
  font-family: "Segoe UI",Arial,sans-serif;
  overflow: hidden;
  background-color: #098173;
}
.navbar a:hover {
  background-color: #555;
  color: white;
}
.navbar a {
  float: left;
  font-size: 20px;
  color:white ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


td:nth-child(1)
{
  width: 300px;
  border-right: 1px solid-red;

}
th:nth-child(2)
{
  width: 1520px;
  font-size: 4.5em;
  letter-spacing: 5px;
  font-family: "Audiowide", sans-serif;
}


.bottom p a
{
  font-family: courier new;
  font-size: 1.1em;
  padding: 30px;
}
.bd
{
  padding: 32px;
  color: black;
  font-size: 1.5em;
  background-color: #b3b3ff;
  background-size: 500px 500px
}
.bottom
{
    margin: 0px;
    background-color: rgba(133,98,191,1.00);
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.bottom p a
{
    font-size: 1.5em;
  color: purple;
  padding: 0px 100px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 3px;
	text-align: center;
	padding-bottom: 0px;
}
.bottom p a:hover
{
    color: black;
}
.bottom p
{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.Copyright p
{
    text-transform: uppercase;
    font-family: Quicksand;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 2px;
}
.Copyright
{
   color:rgba(7,72,1,1.00);
  font-size: 20px;
  text-align: center;
	font-weight: bold;
}
.cont, .para, .feed
{
    background-color: white;
  font-family: Verdana,sans-serif;
  padding: 32px;
  font-size: 1.2em;
  color:black;
}
input
{
  width: 380px;
  height: 24px;
}
button
{
  width: 100px;
  height: 30px;
}
marquee
{
  color:blue;
}
.cont img
{
  float: left;
  border-radius: 5px;
}
.cont a
{
  text-decoration: none;
}

#feed_table {
    border-radius: 20px;
    padding: 0px;
    background-image: linear-gradient(to bottom left,#32892C , #226122);
    color: #226122
}
::placeholder
{
    color: mintcream;
    text-align: center;
    font-size: 1.2em;
    padding: 6px;
}
input, textarea
{
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background-color: rgba(255,255,255,0.00);
    color: mintcream;
    font-size: 1em;
    resize: none;
}

#feed_sub {
    background-color: rgba(224,54,57,1.00);
			border-radius: 40px;
			border-style: none;
			width: auto;
            font-size: 1.2em;
            padding: 3px 8px;
}
#feed_td
{
    color: #FFFFFF;
    font-family: comic sans ms;
    font-size: 1.6em;
}
